 <div id="footer2">
            <div class="wrap">
                <div class="right artezio">
                    <img src="/static/template/img/logos/artezio.png" alt=""/>
                    &copy; 2015. All rights reserved.<br/>
                    <b>Artezio</b> — The art of technology
                </div>
                <div class="links">
                    <a href="#" class="contacts">Contacts</a>
                    <a href="#" class="sitemap">Site map</a>
                    <a href="#" class="help">Help</a>
                    <a href="#" class="about">About us</a>
                </div>
                <img src="/static/template/img/logo.png" alt="" class="flogo"/>
            </div>
        </div>